---
- name: Install required packages
  loop:
    - mdadm
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  tags:
    - mdadm

- name: Current detail scan
  register: mdadm_arrays_current
  when:
    - mdadm_arrays | length > 0
  changed_when: false
  ansible.builtin.command: mdadm --detail --scan
  tags:
    - mdadm

- name: Create config dir
  ansible.builtin.file:
    path: /etc/mdadm
    state: directory
    owner: root
    group: root
    mode: 0755
- name: Write config file
  ansible.builtin.template:
    src: config.j2
    dest: /etc/mdadm/mdadm.conf
    owner: root
    group: root
    mode: u=rw,g=r,o=r
  tags:
    - mdadm

- name: Check proc mdstat
  loop: "{{ mdadm_arrays }}"
  loop_control:
    label: "md{{ item.number }}"
  when:
    - mdadm_arrays | length > 0
  register: mdadm_arrays_check
  changed_when: false
  failed_when: false
  check_mode: false
  ansible.builtin.command: grep md{{ item.number }} /proc/mdstat
  tags:
    - mdadm

- name: Create array devices
  loop: "{{ mdadm_arrays }}"
  loop_control:
    label: "md{{ item.number }}"
  when:
    - mdadm_arrays | length > 0
    - mdadm_arrays_check.results[0].rc != 0
  register: mdadm_arrays_created
  changed_when: "'started' in mdadm_arrays_created.stdout"
  ansible.builtin.shell: |
    set -o pipefail
    yes | mdadm --create /dev/md/{{ item.number }} --level={{ item.level }} --raid-devices={{ item.devices | count }} {{ '' if item.args is not defined else (item.args | join(' ')) }} {{ item.devices | join(' ') }}
  tags:
    - mdadm

- name: Link array devices
  loop: "{{ mdadm_arrays }}"
  loop_control:
    label: "md{{ item.number }}"
  when:
    - mdadm_arrays | length > 0
  ansible.builtin.file:
    src: ../md{{ item.number }}
    dest: /dev/md/{{ item.number }}
    state: link
    force: true
  tags:
    - mdadm

- name: Updated detail scan
  when:
    - mdadm_arrays | length > 0
  register: mdadm_arrays_details
  changed_when: false
  ansible.builtin.command: mdadm --detail --scan
  tags:
    - mdadm

- name: Create defined filesystem
  loop: "{{ mdadm_arrays }}"
  loop_control:
    label: "md{{ item.number }}"
  when:
    - mdadm_arrays | length > 0
    - item.filesystem is defined
  community.general.filesystem:
    fstype: "{{ item.filesystem }}"
    dev: /dev/md/{{ item.number }}
  tags:
    - mdadm

- name: Create defined mountpoint
  loop: "{{ mdadm_arrays }}"
  loop_control:
    label: "md{{ item.number }}"
  when:
    - mdadm_arrays | length > 0
    - item.mountpoint is defined
  ansible.builtin.file:
    path: "{{ item.mountpoint }}"
    state: directory
    owner: "{{ 'root' if item.owner is not defined else item.owner }}"
    group: "{{ 'root' if item.group is not defined else item.group }}"
    mode: "{{ 'u=rwx,g=rx,o=rx' if item.mode is not defined else item.mode }}"
  tags:
    - mdadm

- name: Mount defined mountpoint
  loop: "{{ mdadm_arrays }}"
  loop_control:
    label: "md{{ item.number }}"
  when:
    - mdadm_arrays | length > 0
    - item.mountpoint is defined
  ansible.posix.mount:
    name: "{{ item.mountpoint }}"
    src: /dev/md/{{ item.number }}
    fstype: "{{ item.filesystem }}"
    state: mounted
  tags:
    - mdadm

- name: Append config file
  loop: "{{ mdadm_arrays_details.stdout_lines }}"
  when:
    - mdadm_arrays | length > 0
    - mdadm_arrays_created.changed
  ansible.builtin.lineinfile:
    dest: /etc/mdadm/mdadm.conf
    regexp: "^{{ item }}"
    line: "{{ item }}"
    state: present
  tags:
    - mdadm

- name: Update initramfs
  when:
    - mdadm_arrays | length > 0
    - mdadm_arrays_created.changed
  changed_when: false
  ansible.builtin.command: update-initramfs -u
  tags:
    - mdadm

...
